/* BASE.html */

/* search form */

#address-box {
  display: block;
}

/* navbar */

.navbar {
  margin-bottom: 0;
  background-color: #2c3e50;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand {
  font-family: "Roboto Slab", Georgia, serif;
  font-weight: 400;
  font-size: 24px;
  color:#fff;
}

/* main */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #232830;
  padding-top: 50px;
  }

input {
  border: none;
  border-bottom: 1px dotted;
  background: transparent;
  color: #ab7967;
  font-size: 1.4em;
}

a {
  color: rgb(91,144,191);
}

a:hover {
  text-decoration: none;
  color: rgb(91,144,191, 0.5);
}

.footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

.btn {
  background-color: transparent;
}

#search-btn {
  border: 1px solid;
}


/* INDEX.html */

#main-img {
  background-color: #ccc;
  height: 650px;
}

#search-menu {
  position: absolute;
  top: 350px;
  /* adjust value accordingly */
  left: 0px;
  /* adjust value accordingly */
  background-color: rgba(255, 255, 255, 0.75);
}


/* APTS.html */

#main-map {
  background-color: #ccc;
  height: 650px;
}

/* SIGN-IN.html */

.form-signin {
  margin-top: 100px;
}

.apt-title {
  font-weight: bold;
  color: #698784;
}


/* STATS.html */

#search-analysis {
  /*border: 1px solid;*/
}
#pieCharts {
  /*border: 1px solid;*/
}
#compare {
  /*border: 1px solid;*/
}
.chart-legend ul li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/*COLORS*/


/*#5B90BF mid blue */
/* rgb(91,144,191) */


/*#96b5b4 light blue grey */
/*rgb(150,181,180) */


/*#d08770 salmon */
/* rgb(208,135,112) */

/*#ab7967 darker salmon*/

/*#a3be8c light green*/
/* rgb(163,190,140) */


/*#b48ead purple*/
/* rgb(180,142,173) */

/*#232830 dark blue*/
