/* SEARCH FORM */

#address-box {
  display: block;
}

/* NAVBAR */

.navbar {
  margin-bottom: 0;
}

/* MAIN */
body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

#main-img {
  background-color: #ccc;
  height: 650px;
}
#main-map {
  background-color: #ccc;
  height: 650px;
}
#search-menu {
  position: absolute;
  top: 350px;
  /* adjust value accordingly */
  left: 0px;
  /* adjust value accordingly */
  background-color: rgba(255, 255, 255, 0.75);
}

input {
  border: none;
  border-bottom: 1px dotted;
  background: transparent;g
}

/* SIGN IN */

.form-signin {
  margin-top: 100px;
}

/* FOOTER */

.footer {
  margin-top: 40px;
  text-align: center;
  width: 100%;
  height: 40px;
  background-color: #fff;
}

/* STATS */

#search-analysis {
  border: 1px solid;
}
#pieCharts {
  border: 1px solid;
}
#compare {
  border: 1px solid;
}
.chart-legend li span {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-right: 5px;
}

/*COLORS*/


/*#5B90BF mid blue */
/* rgb(91,144,191) */


/*#96b5b4 light blue grey */
/*rgb(150,181,180) */


/*#d08770 salmon */
/* rgb(208,135,112) */

/*#ab7967 darker salmon*/

/*#a3be8c light green*/
/* rgb(163,190,140) */


/*#b48ead purple*/

/*#232830 dark blue*/
