{% extends 'base.html'%}

{% block title %} Apartment Results {% endblock %}

{% block content %}

<div class="row">
  <div class="col-lg-12" id="main-map">Test</div>
</div>

<div class="row">
  <div class="col-md-6">


    <table class="table table-striped">
        <thead>
        <tr>
            <th>Post ID</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <th>Distance</th>
        </tr>
        </thead>

        <tbody>
            {% for apt, distance in matching_apts %}
                <tr>
                    <td>{{ apt.post_id }}</td>
                    <td>{{ apt.latitude }}</td>
                    <td>{{ apt.longitude }}</td>
                    <td>{{ distance }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


  </div>
</div>

{% endblock %}
