<!DOCTYPE html>
<html>

<head>
  <title>{% block title %} Title goes here {% endblock %}</title>
  <script src="../static/jquery-1.11.3.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../static/style.css">
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block script %} {% endblock %}
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span> HomeSoon</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% if 'price' in session %}
          <li role="presentation"><a href="/stats"><span class="glyphicon glyphicon-signal"></span>
          {% endif%}
          {% if 'id' not in session %}
            <li role="presentation"><a href="/sign-in">Sign In</a></li>
          {% else %}
            <li role="presentation"><a href="/favorites">My Favorites</a></li>
            <li role="presentation"><a href="/sign-out">Sign Out</a></li>
          {% endif %}

        </ul>

      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div id="redo-search">{% block search %}

      <form class="navbar-form" action="/apartments" method="POST">
        <label>Modify your search: </label>
        <label>Starting address:
          <input type="text" name="address" class="address-box" id="address" value="{{raw_location}}">
        </label>

        <label>Miles away:
          <select name="distance" id="distance">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
        </label>

        <label>Bedrooms:
          <select name="bedrooms" id="bedrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        </label>

        <label>Max price:
          $<input type="number" name="cost" value={{price}}>
        </label>

        <label>Commute method:
          <select name="transportation" id="transportation">
            <option value="driving">driving</option>
            <option value="transit">public transportation</option>
            <option value="bicycling">bicycling</option>
            <option value="walking">walking</option>
        </label>

        <input type="submit" class="btn" id="search-btn">
      </form>
      <script>
        // Set drop-down values to users' selection.
        $('#distance').val({{distance}});
        $('#bedrooms').val({{bedrooms}});
        $('#transportation').val('{{transport}}');
      </script>
      <script src="/static/autocomplete.js"></script>
       {% endblock %}
     </div>
    {% block content %} Body content goes here! {% endblock %}
  </div>

</body>

<footer class="footer">
  <div class="container">
    <p class="text-muted">Noelle Daley | Hackbright Academy, Summer 2015 | View this project on <a href="https://github.com/noelledaley/hb-final">GitHub</a></p>
  </div>
</footer>

</html>
