<!DOCTYPE html>
<html>
<head>
    <title>{% block title %} Title goes here {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    <div class="container-fluid">
        {% block content %} Body content goes here! {% endblock %}
    </div>
</body>
</html>
