{% extends 'base.html'%}
{% block title %}Apartment Results{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>
        Your search resulted in <span class="results-num">{{num_results}}</span> posts with an average rent of <span class="results-num">${{avg_rent}}</span>.
      </h2>
    </div>
  </div>

  <div class="row" id="search-analysis">
    <div class="col-md-4 col-md-offset-2">
      <h4>If you extended your budget, you could choose from {{more_expensive['$100 more'] + more_expensive['$200 more'] + more_expensive['$300 more']}} additional posts.</h4>
      <canvas id="increasedPriceChart" width="400" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h4>If you extended your commute, you could choose from {{farther[5][0] + farther[10][0] + farther[20][0]}} additional posts.</h4>
      <canvas id="increasedDistanceChart" width="400" height="400"></canvas>
    </div>
  </div>

  <div class="blue-row"></div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Compare by city</h2>
    </div>
  </div>

  <div class="row" id="pieCharts">
    <div class="col-md-12">
      <h3>Number of 1, 2, and 3 bedroom apartments</h3>
      <div id="pie-legend" class="chart-legend col-md-3"></div>
    </div>
    <div class="col-md-4">
      <h4>Bay Area</h4><canvas id="bayAreaChart" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h4>Portland</h4><canvas id="portlandChart" height="400"></canvas>
    </div>
    <div class="col-md-4">
      <h4>Seattle</h4><canvas id="seattleChart" height="400"></canvas>
    </div>
  </div>

  <div class="row" id="compare">
    <div class="col-md-8 col-md-offset-2">
      <h2>Average rent by number of bedrooms</h2>
      <div id="compare-legend" class="chart-legend"></div>
      <canvas id="prices" width="800" height="400"></canvas>
    </div>
  </div>


<script>

function buildBarChart (element, x_axis, y_axis){
  var ctx = document.getElementById(element).getContext("2d");

  var data = {
      labels: x_axis,
      datasets: [
          {
              fillColor: "rgba(163,190,140,0.5)",
              strokeColor: "rgba(163,190,140,0.8)",
              highlightFill: "rgba(163,190,140,0.75)",
              highlightStroke: "rgba(163,190,140,1)",
              data: y_axis
          },
      ]
  };

  var myNewChart = new Chart(ctx).Bar(data);

}

var increasedPriceData = [{{more_expensive['$100 more']}},
                          {{more_expensive['$200 more']}},
                          {{more_expensive['$300 more']}}];

buildBarChart('increasedPriceChart', ["$100 more", "$200 more", "$300 more"], increasedPriceData);

var increasedDistance = [{{farther[5][0]}},
                          {{farther[10][0]}},
                          {{farther[20][0]}}];

buildBarChart('increasedDistanceChart', ['5 miles', '10 miles', '20 miles'], increasedDistance);


function buildPieChart (my_element, my_data) {
  var ctx2 = document.getElementById(my_element).getContext("2d");

  var myPieChart = new Chart(ctx2).Pie(my_data);

  document.getElementById('pie-legend').innerHTML = myPieChart.generateLegend();
};

var bayAreaData = [
              {
                  value: {{bayarea['1 bedrooms'][0]}},
                  color:"rgba(91,144,191,0.5)",
                  highlight: "rgba(91,144,191,0.75)",
                  label: "1 bedroom"
              },
              {
                  value: {{bayarea['2 bedrooms'][0]}},
                  color: "rgba(163,190,140,0.5)",
                  highlight: "rgba(163,190,140,0.75)",
                  label: "2 bedrooms"
              },
              {
                  value: {{bayarea['3 bedrooms'][0]}},
                  color: "rgba(208,135,112,0.5)",
                  highlight: "rgba(208,135,112,0.75)",
                  label: "3 bedrooms"
              }
            ];

buildPieChart('bayAreaChart', bayAreaData);

var seattleData = [
              {
                  value: {{seattle['1 bedrooms'][0]}},
                  color:"rgba(91,144,191,0.5)",
                  highlight: "rgba(91,144,191,0.75)",
                  label: "1 bedroom"
              },
              {
                  value: {{seattle['2 bedrooms'][0]}},
                  color: "rgba(163,190,140,0.5)",
                  highlight: "rgba(163,190,140,0.75)",
                  label: "2 bedrooms"
              },
              {
                  value: {{seattle['3 bedrooms'][0]}},
                  color: "rgba(208,135,112,0.5)",
                  highlight: "rgba(208,135,112,0.75)",
                  label: "3 bedrooms"
              }
            ];

buildPieChart('seattleChart', seattleData);

var portlandData = [
              {
                  value: {{portland['1 bedrooms'][0]}},
                  color:"rgba(91,144,191,0.5)",
                  highlight: "rgba(91,144,191,0.75)",
                  label: "1 bedroom"
              },
              {
                  value: {{portland['2 bedrooms'][0]}},
                  color: "rgba(163,190,140,0.5)",
                  highlight: "rgba(163,190,140,0.75)",
                  label: "2 bedrooms"
              },
              {
                  value: {{portland['3 bedrooms'][0]}},
                  color: "rgba(208,135,112,0.5)",
                  highlight: "rgba(208,135,112,0.75)",
                  label: "3 bedrooms"
              }
            ];

buildPieChart('portlandChart', portlandData);

var priceCtx = document.getElementById('prices').getContext("2d");

var compareData = {
    labels: ["One bedroom", "Two bedroom", "Three bedroom"],
    datasets: [
        {
            label: "Bay Area",
            fillColor: "rgba(91,144,191,0.5)",
            strokeColor: "rgba(91,144,191,0.8)",
            highlightFill: "rgba(91,144,191,0.75)",
            highlightStroke: "rgba(91,144,191,1)",
            data: [{{bayarea['1 bedrooms'][1]}},
                    {{bayarea['2 bedrooms'][1]}},
                    {{bayarea['3 bedrooms'][1]}}]
        },
        {
            label: "Portland",
            fillColor: "rgba(208,135,112,0.5)",
            strokeColor: "rgba(208,135,112,0.8)",
            highlightFill: "rgba(208,135,112,0.75)",
            highlightStroke: "rgba(208,135,112,1)",
            data: [{{portland['1 bedrooms'][1]}},
                    {{portland['2 bedrooms'][1]}},
                    {{portland['3 bedrooms'][1]}}]
        },
        {
            label: "Seattle",
            fillColor: "rgba(163,190,140,0.5)",
            strokeColor: "rgba(163,190,140,0.8)",
            highlightFill: "rgba(163,190,140,0.75)",
            highlightStroke: "rgba(163,190,140,1)",
            data: [{{seattle['1 bedrooms'][1]}},
                    {{seattle['2 bedrooms'][1]}},
                    {{seattle['3 bedrooms'][1]}},]
        }
    ]
};

var compareChart = new Chart(priceCtx).Bar(compareData);

document.getElementById('compare-legend').innerHTML = compareChart.generateLegend();

</script>

{% endblock %}
