{% extends 'base.html' %}

{% block title %}Favorite Postings{% endblock %}

{% block content %}

<div class="row">
  <div class="container">
    <h1>My Favorites</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Post Title</th>
            <th>Price</th>
            <th>Bedrooms</th>
            <th>Date Posted</th>
            <th>Commute Time</th>
        </tr>
        </thead>

        <tbody>
            {% if favorites %}
              {% for favorite in favorites %}
                  <tr>
                      <td>{{favorite.post.title}}</td>
                      <td>{{favorite.post.price}}</td>
                      <td>{{favorite.post.bedrooms}}</td>
                      <td>{{favorite.post.date_posted}}</td>
                      <td>{{favorite.commute_time}} from  {{favorite.origin}}</td>
                  </tr>
              {% endfor %}
            {% endif %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}
