{% extends 'base.html' %}

{% block title %}Favorite Postings{% endblock %}

{% block search %} {% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1>My Favorites</h1>
    
    <button class="btn" onclick=goBack()><span class="glyphicon glyphicon-circle-arrow-left"></span> Back</button>
    <script>
      function goBack() {
          window.history.back();
      }
    </script>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
          <thead>
          <tr>
              <th></th>
              <th>Post Title</th>
              <th>Price</th>
              <th>Bedrooms</th>
              <th>Commute Time</th>
              <th></th>
          </tr>
          </thead>

          <tbody>
              {% if favorites %}
                {% for favorite in favorites %}
                    <tr id="{{favorite.favorite_id}}">
                        <td><img src="{{favorite.post.img_url}}" width="150"></td>
                        <td><a href={{favorite.post.url}} target="_blank">{{favorite.post.title}}</a></td>
                        <td>${{favorite.post.price}}</td>
                        <td>{{favorite.post.bedrooms}}</td>
                        <td>{{favorite.commute_time}} from  {{favorite.origin}}</td>
                        <td><button class="btn remove-button" data-id={{favorite.favorite_id}}>
                          <span class="glyphicon glyphicon-remove"></span>
                        </button></td>
                    </tr>
                {% endfor %}
              {% endif %}
          </tbody>
      </table>
    </div>

  </div>
</div>

<script>
  // TODO: add event listeners to each remove button

  function removeFavorite(evt) {
    console.log($(evt.currentTarget).data("id"));
    evt.preventDefault();

    $.post('/remove-favorite',
        {'id': $(evt.currentTarget).data("id")},
        function (id) {
            $('#' + id).remove();
          })
  };

  $('.remove-button').on('click', removeFavorite);
</script>

{% endblock %}
