{% extends 'base.html' %}

{% block title %}Favorite Postings{% endblock %}

{% block content %}

<div class="row">
  <div class="container">
    <h1>My Favorites</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Post Title</th>
            <th>Price</th>
            <th>Bedrooms</th>
            <th>Date Posted</th>
        </tr>
        </thead>

        <tbody>
            {% for posting in favorites %}
                <tr>
                    <td>{{posting.title}}</td>
                    <td>{{posting.price}}</td>
                    <td>{{posting.bedrooms}}</td>
                    <td>{{posting.date_posted}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  </div>
</div>

{% endblock %}
