{% extends 'base.html'%} {% block title %} Apartment Search {% endblock %}
{% block script %}
<!-- <script src="https://maps.googleapis.com/maps/api/js"></script> -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
{% endblock %}

{% block content %}
<div class="row" id="main-img"></div>
<div class="row">
  <div class="container">
    <div class="col-md-6">
      <h1>Find me an apartment near...</h1>
      <form action="/apartments" method="POST" autocomplete="on">

        <input type="text" name="address" class="address-box" id ="address" placeholder="Address, city or zip">
        <p></p>

        <label>within
          <select name="distance">
            <option value="1">1</option>
            <option value="3">3</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
          miles.</label>

        <label>That has
          <select name="bedrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
          bedrooms,</label>

        <label>and costs less than
          $<input type="number" name="cost" placeholder="3,000"> per month.</label>

        <label>I like to commute by:
          <select name="transportation">
            <option value="driving">driving</option>
            <option value="transit">public transportation</option>
            <option value="bicycling">bicycling</option>
            <option value="walking">walking</option>
        </label>

        <input type="submit" class="btn" id="search-btn">
      </form>
    </div>
  </div>
</div>
<script>
  function initialize() {

      // Create map
      var mapCanvas = document.getElementById('main-img');
      var mapOptions = {center: new google.maps.LatLng(37.78,-122.41),
                          zoom: 12,
                          mapTypeId: google.maps.MapTypeId.ROADMAP
                          }

      var map = new google.maps.Map(mapCanvas, mapOptions);

      // Autocomplete address
      var input = document.getElementById('address');
      console.log(input);
      var options = {types: ['geocode']};
      var autocomplete = new google.maps.places.Autocomplete(input, options);

  }

  google.maps.event.addDomListener(window, 'load', initialize);

</script>
{% endblock %}
