{% extends 'base.html'%}

{% block title %} Apartment Search {% endblock %}

{% block content %}
  <div class="row" id="main-img"></div>
  <div class="row">
      <div class="col-md-6"><h1>Find me an apartment near...</h1></div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <form action="/apartments">
        <!-- TODO: figure out where to send this form data, modify text to match 1 bedroom / 2 bedroomS -->
        <input type="address" name="lat" class="address-box">
        <input type="address" name="lon" class="address-box">
        <p></p>

        <label>within
          <select name="distance">
            <option value="1">1</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
          </select>
        miles.</label>

        <label>That has
          <select name="bedrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
          </select>
        bedrooms,</label>
        <p></p>

        <label>and costs less than
          <input type="number" name="cost">
        per month.</label>
        <p></p>

        <input type="submit" id="search-btn">
    </div>
  </div>
  <script src="../static/locate.js"></script>
{% endblock %}
