<!DOCTYPE html>
<html>
<head>
    <title>Map Test</title>
    <style type="text/css">
        #map-canvas {
            width: 700px;
            height: 600px;
            /*background-color: #ccc;*/
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script>
        function initialize() {

            // Map is a class that takes 2 arguents:
                // A reference to the div that the map will be loaded into (#map-canvas)
                // Options for the map, such as the center, zoom level, and the map type.

            var mapCanvas = document.getElementById('map-canvas');


            var mapOptions = {center: new google.maps.LatLng(37.78,-122.41),
                                zoom: 12,
                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                }

                                // center is a Maps LatLng object that tells the the API where to center the map.
                                // zoom can be between 0 (farthest) and 22
                                // mapTypeId can be ROADMAP, SATELLITE, HYBRID, or TERRAIN.

            // Create the map!
            var map = new google.maps.Map(mapCanvas, mapOptions);

            // Grab lat & lon & pass to marker.
            var sampleLocation = new google.maps.LatLng(37.7886663, -122.4114625);

            // Create marker
            var marker = new google.maps.Marker({
              position: sampleLocation,
              map: map,
              title: 'hello world'
            });

        }
        // Add event listener to the window object that will call initialize function.
        // .addDomListener waits to run until DOM has finished loading.
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>

<body>
    <div id="map-canvas"></div>
</body>
</html>
