{% extends 'base.html' %} {% block title %} Sign In {% endblock %} {% block content %}
<div class="row">
  <div class="container">
    <div class="col-md-6">

      <form class="form-signin" method="POST">

        <h2 class="form-signin-heading">Sign In</h2>

        <div class="form-group">
          <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control input-lg" placeholder="Username" required>
        </div>

        <div class="form-group">
          <label for="password-field" class="sr-only">Password</label>
          <input type="password" name="password" class="form-control input-lg" placeholder="Password" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
        </button>

      </form>
    </div>
    <div class="col-md-6">

      <form class="form-signin" method="POST">

        <h2 class="form-signin-heading">Sign up!</h2>

        <div class="form-group">
          <label for="username" class="sr-only">Username</label>
            <input type="text" name="username" class="form-control input-lg" placeholder="Username" required>
        </div>

        <div class="form-group">
          <label for="email-field" class="sr-only">Email Address</label>
          <input type="email" name="email" class="form-control input-lg" placeholder="Email Address" required autofocus>
        </div>

        <div class="form-group">
          <label for="password-field" class="sr-only">Password</label>
          <input type="password" name="password" class="form-control input-lg" placeholder="Password" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up
        </button>

      </form>
    </div>
  </div>
</div>
{% endblock %}
