{% extends 'base.html'%}
{% block title %}Apartment Results{% endblock %}

{% block script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
{% endblock %}

<!-- TODO: add submit button for refreshing charts w/ new search-->


{% block search %}
<form class="navbar-form" action="/apartments" method="POST">
  <label>Modify your search: </label>
  <label>Starting address:
    <input type="text" name="address" class="address-box" value="{{raw_location}}">
  </label>

  <label>Miles away:
    <select name="distance">
      <option></option>
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </label>

  <label>Bedrooms:
    <select name="bedrooms">
      <option></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </label>

  <label>Max price:
    $<input type="number" name="cost" value={{price}}>
  </label>

  <label>Commute method:
    <select name="transportation">
      <option value="driving">driving</option>
      <option value="transit">public transportation</option>
      <option value="bicycling">bicycling</option>
      <option value="walking">walking</option>
  </label>

  <input type="submit" class="btn" id="search-btn">
</form>
{% endblock %}

{% block content %}

<canvas id="increasedPriceChart" width="400" height="400"></canvas>
<canvas id="BayAreaChart" width="400" height="400"></canvas>
<canvas id="PortlandChart" width="400" height="400"></canvas>
<canvas id="SeattleChart" width="400" height="400"></canvas>

Breakdown of posts more expensive than your search: {{more_expensive}} <br>
Average rent of your search results: {{avg_rent}}<br>
Number of posts farther than your desired distance: {{num_farther}}<br>

<script>
// Get the context of the canvas element we want to select

function buildBarChart (element, x_axis, y_axis){
  var ctx = document.getElementById(element).getContext("2d");

  var data = {
      labels: x_axis,
      datasets: [
          {
              label: "My First dataset",
              fillColor: "rgba(220,220,220,0.5)",
              strokeColor: "rgba(220,220,220,0.8)",
              highlightFill: "rgba(220,220,220,0.75)",
              highlightStroke: "rgba(220,220,220,1)",
              data: y_axis
          },
      ]
  };

  var myNewChart = new Chart(ctx).Bar(data);

}

var increasedPriceData = [{{more_expensive['$100 more']}},
                          {{more_expensive['$200 more']}},
                          {{more_expensive['$300 more']}}];

buildBarChart('increasedPriceChart', ["$100 more", "$200 more", "$300 more"], increasedPriceData);

// function buildDonutChart (element, data)

// var data = {
//     labels: ["$100 more", "$200 more", "$300+ more"],
//     datasets: [
//         {
//             label: "My First dataset",
//             fillColor: "rgba(220,220,220,0.5)",
//             strokeColor: "rgba(220,220,220,0.8)",
//             highlightFill: "rgba(220,220,220,0.75)",
//             highlightStroke: "rgba(220,220,220,1)",
//             data: [{{more_expensive['$100 more']}},
//                     {{more_expensive['$200 more']}},
//                     {{more_expensive['$300 more']}}
//           ]
//         },
//     ]
// };

// Chart.defaults.global.responsive = true;



</script>

{% endblock %}
