{% extends 'base.html'%}
{% block title %}Apartment Results{% endblock %}

{% block script %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
{% endblock %}

<!-- TODO: add submit button for refreshing charts w/ new search-->


{% block search %}
<form class="navbar-form" action="/apartments" method="POST">
  <label>Modify your search: </label>
  <label>Starting address:
    <input type="text" name="address" class="address-box" value="{{raw_location}}">
  </label>

  <label>Miles away:
    <select name="distance">
      <option></option>
      <option value="1">1</option>
      <option value="3">3</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="25">25</option>
      <option value="50">50</option>
    </select>
  </label>

  <label>Bedrooms:
    <select name="bedrooms">
      <option></option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
    </select>
  </label>

  <label>Max price:
    $<input type="number" name="cost" value={{price}}>
  </label>

  <label>Commute method:
    <select name="transportation">
      <option value="driving">driving</option>
      <option value="transit">public transportation</option>
      <option value="bicycling">bicycling</option>
      <option value="walking">walking</option>
  </label>

  <input type="submit" class="btn" id="search-btn">
</form>
{% endblock %}

{% block content %}

Number of posts more expensive than your search: {{expensive}}
Average rent of your search results: {{avg_rent}}
Number of posts farther than your desired distance: {{num_farther}}

{% endblock %}
